<div class="container">
  <div class="list-group">
    <a class="list-group-item list-group-item-action active">
      <h1 class="headline">Proposal List</h1>
    </a>
    <span *ngFor= "let i of proposals" class="list-group-item list-group-item-action">
      <a (click)="goToShow(i)" class="proposal-link">
        <h5 class="list-group-item-heading">{{i.customer}}</h5>
        <p class="list-group-item-text">
          {{ i.hourly_rate * i.estimated_hours | currency:'USD':true:'.0' }}
        </p>
      </a>
    </span>
  </div>
</div>